<cv-stack [shuffle]="shuffle" (shuffleDone)="onShuffleDone($event)">
  @for (tech of techStack; track tech; let techIndex = $index) {
  <ng-template #cvStack="cvStack" cvStack>
    <cv-scatter
      #cvScatter
      [delayMultiplier]="50"
      [duration]="800"
      [maxY]="80"
      [scattered]="scattered"
      [stackCount]="techStack.length"
      [zIndex]="techIndex"
      (click)="onScatterClick(cvScatter, cvStack)"
      (scatterDone)="onScatterDone($event)"
    >
      <div class="tech">
        <img [alt]="tech.name" [src]="tech.img" />
      </div>
    </cv-scatter>
  </ng-template>
  }
</cv-stack>
