<cv-stack
  [parallaxXMultiplier]="parallaxXMultiplier"
  [parallaxYMultiplier]="parallaxYMultiplier"
>
  @for (tech of techStack; track tech; let techIndex = $index) {
  <ng-template #cvStack="cvStack" [zIndex]="techIndex" cvStack>
    <cv-scatter
      #cvScatter
      [delayMultiplier]="delayMultiplier"
      [duration]="duration"
      [originOffsetMultiplier]="5"
      [scattered]="(scattered$ | async) ?? false"
      [stackSize]="techStack.length"
      [zIndex]="techIndex"
      (click)="onScatterClick(cvScatter, cvStack)"
      (scatterDone)="onScatterDone($event, cvStack)"
      (scatterStart)="onScatterStart($event, techIndex, cvStack)"
    >
      <div class="tech">
        <img [alt]="tech.name" [src]="tech.img" />
      </div>
    </cv-scatter>
  </ng-template>
  }
</cv-stack>
