<cv-stack (shuffleInOutDone)="onShuffleInOutDone($event)">
  @for (tech of techStack; track tech; let techIndex = $index) {
  <ng-template cvStack>
    <cv-scatter
      #cvScatter
      [delay]="techIndex * 50"
      [maxY]="80"
      [scattered]="(scattered$ | async) ?? false"
      (click)="cvScatter.scattered = false"
      (scatterDone)="onScatterDone($event)"
    >
      <div class="tech">
        <img [alt]="tech.name" [src]="tech.img" />
      </div>
    </cv-scatter>
  </ng-template>
  }
</cv-stack>
