:host {
  position: relative;
  display: block;
}

.cv-stack {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition-property: left, top;
  transition-timing-function: ease-out;
}
