<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Me&hellip;</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <cv-biography></cv-biography>
    </mat-card-content>
  </mat-card>
</section>
<section class="cv-tech-stack-section">
  <div class="cv-tech-stack-container">
    <cv-tech-stack></cv-tech-stack>
  </div>
</section>
<section>
  <mat-card>
    <mat-card-header>
      <h2>Experience&hellip;</h2>
    </mat-card-header>
    <mat-card-content>
      <cv-timeline></cv-timeline>
    </mat-card-content>
  </mat-card>
</section>
