:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  max-width: 900px;

  &.cv-tech-stack-section {
    max-width: 1400px;
  }
}

.cv-tech-stack-container {
  height: 30rem;
  max-height: 60vh;
}
