<div class="cv-photos">
  <cv-photos [maxX]="10" [maxY]="10" [photos]="photos"></cv-photos>
</div>
<div class="cv-biography">
  <h3>
    Jason Royle<br />
    <small>31<sup>st</sup> March 1988</small>
  </h3>
  <h4>Links</h4>
  <ul>
    <li>
      <a
        href="https://github.com/jasonroyle/curriculum-vitae/tree/develop"
        target="_blank"
      >
        Source
      </a>
    </li>
    <li>
      <a href="https://github.com/jasonroyle" target="_blank"> GitHub </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/jason-royle-a18b4589/"
        target="_blank"
      >
        LinkedIn
      </a>
    </li>
    <li>
      <a href="mailto:me@jasonroyle.com"> me&#64;jasonroyle.com </a>
    </li>
  </ul>
</div>
