#Top {
  @include clip-path(polygon(0% 0%, 100% 0%, 100% 100%, 38% 92%, 30% 95%, 24% 90%, 0% 100%));
  margin: 0 0 60px;
  padding: 0 0 120px;
  background: linear-gradient(0deg, #e3c1ed, #8ac6e8 10%, #2e6ae2);
  color: #fff;
  header {
    padding: 20px 0;
  }
  .card {
    padding: 0 0 -16px;
    border: none;
    box-shadow: inset 0 0 5px #ccc;
  }
}

.skills {
  margin-bottom: 0;
  dt, dd {
    margin-bottom: 16px;
  }
}
